@model List<Genero>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle"
            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
        Menú Genero
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        @foreach (Genero ge in Model)
        {
            <li>
                <a class="dropdown-item" 
                asp-controller="Libros"
               asp-action="Details"
                asp-route-IdGenero="@ge.IdGenero">
                    @ge.Nombre
                </a>
            </li>
        }
    </ul>
</div>
